*{
margin :0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins';
text-decoration: none;
scroll-behavior: smooth;
list-style: none;
}

header{
position: fixed;
top: 1rem;
left: 50%;
transform: translateX(-50%);
display: flex;
align-items: center;
justify-content: center;
gap: 5rem;
background-color: rgba(0, 0, 0, 0.8);
backdrop-filter: blur(8px);
color: #fff;
padding: 0.5rem 1.5rem;
border-radius: 3rem;
z-index: 1000;
}
.logo{
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);

}
.nav-links{
    display: flex;
    gap: 2rem;
}
li a{
    position: relative;
    color: #fff;
    font-weight: 300;
}
li a::before{
    content: '';
    position: absolute;
    left: 0;
    top:25px;
    width: 0;
    height: 5px;
    border-radius: 1rem;
    background :linear-gradient(to right, rgb(0,157,255),rgb(255,0,255));
    transition: transform 0.3s ease-in-out;
}
li a:hover::before{
    width: 100%;
}
.visit-btn{
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    border:none;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(to right, rgb(0,157,255),rgb(255,0,255));
    transition: transform 0.3s ease-in-out;
}
.visit-btn:hover{
    background: linear-gradient(to right, rgb(255,0,255),rgb(0,157,255));
    transform: scale(1.03);
}
#menu-btn{
   font-size: 2rem;
   display: none;
}